@font-face {

    font-family: 'Arcade';
    src: url('fonts/Arcade.ttf')  format('truetype');
}

#nameLogo {

    font-family: 'Arcade';
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: -45px; 
}

p {

    color:white;
}

.containerNav {
    
    background-color: #592973;    
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;    
    width: 100%;
}

.itemNav {

    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#subNav {

    background-color: #854BA2;
}

#imgCreche {
    
    width:50%; /* you can use % */
    height: 15%;
    margin: 20px;
}

#imgProfile {

    width:15%; /* you can use % */
    height: 15%;
    margin: 20px;
}

.containerFlex {

    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;  
    width: 100%;
}

.itemFlex{

    display: flex;
    align-items: center;
	justify-content: center;
    margin: 40px;     
}

/* Materialize modifications*/

nav {
    height: 300px;
    line-height: 300px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 300px;
    line-height: 300px;
}

nav .button-collapse i {
    height: 300px;
    line-height: 300px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 300px;
        line-height: 300px;
    }
}