<div class="container">
    <div class="containerFlex">

        <div style="display: flex; justify-content: center; width: 50%; margin-top: 1rem; margin-bottom: 1rem">
            <img class="responsive-img" src="imgs/games/capi_calma/Capi_Calma_Logo.png">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">Help Capi to cross the forest in this puzzle to calm yourself!</p>
            <p class="itemFlex">Programming, 2D & 3D Art, Game Design by Bernardo Alvarez Braga</p>
            <p class="itemFlex">Skybox: Borodar &nbsp;<a
                    href="https://assetstore.unity.com/packages/2d/textures-materials/sky/farland-skies-cloudy-crown-60004"
                    target="_blank" style="color: #ecc50e;">Visit the page on Unity Asset Store</a></p>
            <p class="itemFlex">Particles: Jean Moreno &nbsp;<a
                    href="https://assetstore.unity.com/packages/vfx/particles/cartoon-fx-remaster-free-109565"
                    target="_blank" style="color: #ecc50e;">Visit the page on Unity Asset Store</a></p>
            <p class="itemFlex">Music: fun in the sun by Anttis Instrumentals &nbsp;<a
                    href="https://www.youtube.com/@freeinstrumentals-anttisin2016" target="_blank"
                    style="color: #ecc50e;">Visit Anttis Instrumentals Youtube Channel</a></p>
        </div>
        <br>
        <a href="https://garland-chaos.itch.io/capi-calma" target="_blank">
            <div
                style="background-color: #ecc50e; color: #a47453;padding: 20px;border: 2px solid #ecc50e; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>Download now on Itch.io</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <br>

        <div carousel id="carousel-landscape" style="opacity: 0;">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/capi_calma/Capi_Calma_Screenshot_3.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/capi_calma/Capi_Calma_Screenshot_2.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/capi_calma/Capi_Calma_Screenshot_7.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/capi_calma/Capi_Calma_Screenshot_6.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/capi_calma/Capi_Calma_Screenshot_5.png">
        </div>
    </div>
</div>

</br>