<div class="container">
    <div class="containerFlex">
        <div id="contactCard">
            <div class="icon">
                <img style="width: 2rem; height: 2rem; margin-right: 1rem; filter: brightness(0) invert(1);"
                    src="./imgs/mail.png" />
                <p>bernardo.alvarezbraga@gmail.com</p>
            </div>
            <div class="icon">
                <img style="width: 2rem; height: 2rem; margin-right: 1rem; filter: brightness(0) invert(1);"
                    src="./imgs/telefone.png" />
                <p>+55 (51) 98546-6471</p>
            </div>
            <div class="icon" id="linkedinIcon">
                <a href="https://www.linkedin.com/in/bernardo-alvarez-braga-b9772814b/" target="_blank">
                    <img style="width: 2rem; margin-right: 1rem;" src="./imgs/linkedinLogov2.png" />
                </a>
                <a id="linkedin" href="https://www.linkedin.com/in/bernardo-alvarez-braga-b9772814b/" target="_blank">
                    linkedin.com/in/bernardo-alvarez-braga-b9772814b
                </a>
            </div>
        </div>
    </div>
</div>