<div class = "container"> 
    <div class="containerFlex">         
                <div class="itemFlex">                                  
                    <img id="imgCreche" class="responsive-img" src="https://i.imgur.com/Wg5sUjm.png"></img>            
                </div>
                <p class="itemFlex">A creche Francesca Zacaro Faraco, ou mais conhecida como Creche da UFRGS, possui um longo histórico de qualidade, desde 19 de maio de 1972.
                Atualmente a creche atende filhos de servidores públicos, com idades entre 0 a 3 anos e 11 meses. A creche nunca teve uma identidade visual consistente, e pensando nisso
                se tornou um dos clientes na disciplina Projeto Visual I do curso de Design Visual da UFRGS. 
                O desenvolvimento da identidade foi objeto de trabalho do semestre inteiro e portanto teve várias etapas.
                </p>
                <p class="itemFlex">O processo começou com uma etapa de pesquisa prévia realizada por grupos (o da creche teve sete integrantes).
                    Os resultados da primeira etapa podem ser vistos abaixo:
                </p>
                <!-- </br>   -->
                <div class="itemFlexContent">      
                    <iframe src="https://drive.google.com/file/d/1bDX9Rrf02GRLQGpMNS3NPFHXo5txitWB/preview" width="900" height="500"></iframe>        
                </div>    
                <!-- </br>     -->
                <p class="itemFlex">A segunda etapa já era individual e consistia em gerar alternativas de assinaturas, levando em conta a essência encontrada na pesquisa.
                Gerei duas alternativas e realizei uma coleta de opiniões do público relacionado com a creche para definir qual era a mais representativa.
                A evolução desse processo pode ser conferida abaixo:
                </p>  
                <div class="itemFlexContent">                              
                    <iframe src="https://drive.google.com/file/d/1pWtu0TXlDxRlWY1Xn8qgLM3SQtH2eVKy/preview" width="900" height="500"></iframe> 
                </div>                    
                <!-- </br> -->
                <p class="itemFlex">Após a escolha da alternativa, resolvi produzir um vídeo que demonstrasse melhor o potencial da identidade:</p>
                <div class="itemFlexContent">                                                                              
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/Z5LtSqFx6eE" frameborder="0" allowfullscreen></iframe>
                </div>
                <p class="itemFlex">Uma boa identidade visual necessita de um manual que explique sua essência, detalhe seus usos e demonstre aplicações.
                O manual desta identidade pode ser visto abaixo:
                </p>  
                <!-- </br> -->
                <div class="itemFlexContent">                                                      
                    <iframe src="https://drive.google.com/file/d/1wc_-cGE_1Br-_bzbPoBVEKJi38bzDUxd/preview" width="800" height="900"></iframe>
                </div>
                <!-- </br> -->
                <p class="itemFlex">Ao final, tive a alegria de ter a minha identidade como a escolhida entre os sete integrantes do grupo para ser utilizada oficialmente pela creche,
                por mais se adequar à essência :)
                </p> 
    </div>
</div>>
</br>