<div class="container">
    <div class="containerFlex">

        <div class="gameHeaderImage">
            <img class="responsive-img" src="imgs/section/prog/Dananeer.png">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">Dananeer is a mobile game designed for the MENA region where you can play a selection of
                games, the first one available being Konkan.</p>
            <p class="itemFlex">Idea/Design: Yadgar Merani.</p>
            <p class="itemFlex">Designer/Producer: Matias Kindermann</p>
            <p class="itemFlex">Programming: Bernardo Alvarez Braga, Gustavo Prado, Eric Marinho, Jose Ignacio Ferrer
                and Vinicius Alves de Oliveira.</p>
            <p class="itemFlex">Art: Rinnie Milk and Regil de Castro.</p>
            <p class="itemFlex">HR/QA: Nahuel Vallone and Andy Torchinsky.</p>
        </div>
        <br>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.Dananeer.Dananeer" target="_blank">
            <div
                style="background-color: #ecc50e; color: #a47453;padding: 20px;border: 2px solid #ecc50e; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>Download now on Google Play</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <!-- <div class="itemFlexContent">
            <iframe width="640" height="360" src="https://www.youtube.com/watch?v=x-g_Onigqq8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div> -->

        <br>

        <div carousel id="carousel-portrait" when-ready="isReady()" ready-check="checkIfReady()"
            wait-for-interpolation="true">
            <img class="carousel-item carousel-item-portrait" src="imgs/games/dananeer/portrait/Dananeer1.jpg">
            <img class="carousel-item carousel-item-portrait" src="imgs/games/dananeer/portrait/Dananeer2.jpg">
            <img class="carousel-item carousel-item-portrait" src="imgs/games/dananeer/portrait/Dananeer3.jpg">
            <img class="carousel-item carousel-item-portrait" src="imgs/games/dananeer/portrait/Dananeer4.jpg">
            <img class="carousel-item carousel-item-portrait" src="imgs/games/dananeer/portrait/Dananeer5.jpg">
            <img class="carousel-item carousel-item-portrait" src="imgs/games/dananeer/portrait/Dananeer6.jpg">
        </div>

        <br>

        <div carousel id="carousel-landscape" when-ready="isReady()" ready-check="checkIfReady()"
            wait-for-interpolation="true">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL1.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL2.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL3.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL4.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL5.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL6.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL7.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dananeer/landscape/DananeerL8.png">
        </div>

        <br>
    </div>
</div>
</br>