    <div class="container">
        <p class="sectionTitle">Design</p>
                <div class="row">
                    <div class="col s12 m6">
                        <a href="#!/CrecheID">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="materialboxed" style="cursor:pointer" src="imgs/section/design/creche.png"></img>
                                </div>
                                <div class="card-content white-text">
                                    <span class="card-title">Identidade Visual Creche da UFRGS</span>
                                    <p>Veja o processo de criação da identidade visual 
                                    da creche Francesca Zacaro Faraco, conhecida como Creche da UFRGS.</p>
                                    </br>
                                    <p>See the creation process of the visual identity of the daycare Francesca Zacaro Faraco, know as UFRGS's Daycare.</p>
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="col s12 m6">
                        <a href="#!/GuideAliens">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="materialboxed" style="cursor:pointer" src="imgs/section/design/aliens.png"></img>
                                </div>
                                <div class="card-content white-text">
                                    <span class="card-title">Material Instrucional: "Como sobreviver a uma invasão alienígena!"</span>
                                    <p>Saiba como sobreviver aos alienígenas neste guia! </p>
                                    </br>
                                    <p>Know how to survive the aliens in this guide! </p>
                                        
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <a href="#!/InfograficoAmigo">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="materialboxed" style="cursor:pointer" src="imgs/section/design/amigo.png"></img>
                                </div>
                                <div class="card-content white-text">
                                    <span class="card-title">Infográfico Amigo Internacional UFRGS</span>
                                    <p>Descubra mais sobre o programa Amigo Internacional da UFRGS neste infográfico. </p>
                                    </br>
                                    <p>Discover more about the program UFRGS's International Friend in this infographic. </p>
                                    
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="col s12 m6">
                        <a href="#!/3DModels">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="materialboxed" style="cursor:pointer" src="imgs/section/design/modelos.png"></img>
                                </div>
                                <div class="card-content white-text">
                                    <span class="card-title">Modelos 3D</span>
                                    <p>Alguns modelos 3D que fiz.</p>
                                    </br>
                                    <p>Some 3D models that I made.</p>                                
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <a href="#!/Videos">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="materialboxed" style="cursor:pointer" src="imgs/section/design/videos.png"></img>
                                </div>
                                <div class="card-content white-text">
                                    <span class="card-title">Vídeos</span>
                                    <p>Vídeos educacionais, musicais e vinhetas.</p>
                                    </br>
                                    <p>Educational/musical videos and vignettes.</p>                                
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
    </div>
