<div class="container">
    <div class="containerFlex">

        <div style="display: flex; justify-content: center; width: 50%; margin-top: 1rem; margin-bottom: 1rem">
            <img class="responsive-img" src="imgs/games/dragon_dealer/DragonDealerCover.png">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">Dragon Dealer is a RPG card game where you fight dragons by using elemental attacks.</p>
            <p class="itemFlex">Programming and Game Design by Bernardo Alvarez Braga</p>
            <p class="itemFlex">UX Design and 2D Art by Bruna da Silva Souza</p>
            <p class="itemFlex">Music:&nbsp;
                <a href="https://cynicmusic.com/" target="_blank" style="color: #ecc50e;">
                    https://cynicmusic.com/ &nbsp;</a>
            </p>
            <p class="itemFlex">SFX:&nbsp;
                <a href="https://opengameart.org/users/kenney" target="_blank" style="color: #ecc50e;">
                    Kenney</a>,&nbsp;
                <a href="https://opengameart.org/users/p0ss" target="_blank" style="color: #ecc50e;">
                    p0ss </a>&nbsp;
            </p>
        </div>
        <br>
        <a href="https://garland-chaos.itch.io/dragon-dealer" target="_blank">
            <div
                style="background-color: #ecc50e; color: #a47453;padding: 20px;border: 2px solid #ecc50e; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>Download now on Itch.io</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <br>

        <div carousel id="carousel-landscape" style="opacity: 0;">
            <img class="carousel-item carousel-item-landscape"
                src="imgs/games/dragon_dealer/DragonDealerScreenshot1.png">
            <img class="carousel-item carousel-item-landscape"
                src="imgs/games/dragon_dealer/DragonDealerScreenshot2.png">
            <img class="carousel-item carousel-item-landscape"
                src="imgs/games/dragon_dealer/DragonDealerScreenshot4.png">
            <img class="carousel-item carousel-item-landscape"
                src="imgs/games/dragon_dealer/DragonDealerScreenshot3.png">
            <img class="carousel-item carousel-item-landscape"
                src="imgs/games/dragon_dealer/DragonDealerScreenshot5.png">
        </div>
    </div>
</div>

</br>