<div class="container">
    <div class="containerFlex">

        <div style="display: flex; justify-content: center;width: 100%;background-color: black;margin-bottom: 1rem">
            <img class="responsive-img" src="imgs/section/prog/DTermination.png">
        </div>

        <br>
        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">An educational game developed in NAPEAD - UFRGS to be played in technical drawing
                class.<br>
                Programming by Bernardo Alvarez Braga.<br>
                Art and design by Francine Alexandra Moreira Aires.
            </p>

            <!-- <p class="itemFlex">Um jogo desenvolvido pelo NAPEAD (Núcleo de Apoio Pedagógico à Educação a Distância) - UFRGS, para ser usado na disciplina de Desenho Técnico.<br>
                Programação por Bernardo Alvarez Braga.<br>
                Arte e design por Francine Alexandra Moreira Aires
            </p> -->
        </div>
        <br>
        <a href="https://www.ufrgs.br/napead/projetos/dtermination/" target="_blank">
            <div
                style="background-color: #010103; color: #00ff00;padding: 20px;border: 2px solid #010103; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                Play
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <br>

        <div carousel id="carousel-landscape" style="opacity: 0;">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dtermination/dt1.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dtermination/dt5.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dtermination/dt6.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dtermination/dt2.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dtermination/dt3.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/dtermination/dt4.png">
        </div>

    </div>
</div>

</br>