<div class="container">
    <div class="containerFlex">

        <div class="itemFlexContent">
            <img class="responsive-img" src="imgs/econquest_logo_v2.jpg">
        </div>
        <a href="http://www.indiedb.com/games/econquest" title="View Econquest on Indie DB" target="_blank"><img
                src="http://button.indiedb.com/popularity/medium/games/52621.png" alt="Econquest" /></a>

        <p class="itemFlex">Save the green, save the galaxy! Nature is endangered, and only you can save it!
            Go from world to world, planting and shooting at enemies! <br>
            3D models, textures, animations and UI by Bernardo Alvarez Braga. <br>
            Programming by Bernardo Alvarez Braga and Guilherme Schaidhauer Castro. <br>
        </p>

        <!-- <p class="itemFlex">Salve o verde, salve a galáxia! A natureza está em perigo e só você pode salvá-la! 
        Vá de planeta em planeta, plantando e atirando em inimigos!<br>
        Modelos 3D, texturas, animações e UI por Bernardo Alvarez Braga. <br>
        Programação por Bernardo Alvarez Braga e Guilherme Schaidhauer Castro. <br>
        </p> -->

        <p class="itemFlex"><a href="http://www.indiedb.com/games/econquest" target="_blank">Visit the page on
                Indiedb</a></p>
        <p class="itemFlex"><a href="https://garland-chaos.itch.io/econquest" target="_blank">Visit the page on
                Itch.io</a></p>

        <p class="itemFlex">Videos (they don't represent current state of the game as seen on the images):</p>
        <div class="itemFlexContent">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/nH5i8YmvSE4" frameborder="0"
                allowfullscreen></iframe>
        </div>

        <div class="itemFlexContent">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/LJvzhcCq1TU" frameborder="0"
                allowfullscreen></iframe>
        </div>

        <p class="itemFlex">Current UI images:</p>

        <div class="itemFlexContent">
            <img class="responsive-img" src="https://i.imgur.com/uNVbKhD.jpg">
        </div>
        <div class="itemFlexContent">
            <img class="responsive-img" src="https://i.imgur.com/bkL4zIN.jpg">
        </div>
        <div class="itemFlexContent">
            <img class="responsive-img" src="https://i.imgur.com/9RnuYD5.jpg">
        </div>
        <div class="itemFlexContent">
            <img class="responsive-img" src="https://i.imgur.com/8ae6tBQ.jpg">
        </div>
    </div>
</div>

</br>