<div class="container">
    <p class="sectionTitle">Games and Projects</p>

    <div class="row">
        <div class="col s12 m6">
            <a href="#!/RaytracerCPlusPlus">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer"
                            src="imgs/section/prog/RaytracerCPlusPlus.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Raytracer C++</span>
                        <p>Raytracer with filters created in C++ with SFML, GLM and libnoise libraries.</p>
                        </br>
                        <p>Raytracer com filtros criado com bibliotecas SFML, GLM e libnoise.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="#!/SnakeSnackEscape">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer"
                            src="imgs/section/prog/SnakeSnackEscape.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Snake Snack Escape</span>
                        <p>Escape from a snake or become a snack in this arcade game!</p>
                        </br>
                        <p>Escape de uma cobra ou se torne um lanche nesse arcade!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <a href="#!/CapiCalma">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/CapiCalma.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Capi Calma</span>
                        <p>Help Capi to cross the forest in this puzzle to calm yourself!</p>
                        </br>
                        <p>Ajude Capi a atravessar a floresta neste puzzle para você ficar calmo!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="#!/KiwiKimi">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/KiwiKimi.jpg"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Kiwi Kimi</span>
                        <p>Be a kiwi and chase your dream in this platformer.</p>
                        </br>
                        <p>Seja um kiwi e persiga seu sonho nesse jogo de plataforma!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <a href="#!/DTermination">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer"
                            src="imgs/section/prog/DTermination.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">DTermination: Desenho Técnico</span>
                        <p>An educational quiz game about technical drawing. </p>
                        </br>
                        <p>Um jogo de quiz educativo sobre desenho técnico.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="#!/SugarTown">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/sugartown.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Sugar Town</span>
                        <p>An educational game where you learn about carbohydrate consumption</p>
                        </br>
                        <p>Um jogo educativo onde você aprende sobre consumo de carboidratos.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <a href="#!/TwinDimensions">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer"
                            src="imgs/section/prog/twindimensions.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Twin Dimensions</span>
                        <p>A two-player shooter where life can be shared to help each other.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="#!/HoneyImHome">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/honey.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Honey, I'm Home!</span>
                        <p>Sandbox game about building your own home. Bee a bee!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <a href="#!/Mbds">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/mbds.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Mind Blowing Dance Stream</span>
                        <p>A vibrant game about captivating the whole party with your wild dance moves! Show off your
                            skill and keep the dance vibe alive to achieve the highest score!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="#!/MusicalShooter">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer"
                            src="imgs/section/prog/musicalshooter.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Musical Shooter </span>
                        <p>A shooter experience where music impact gameplay elements.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <a href="#!/Econquest">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/econquest.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Econquest</span>
                        <p>Save the green, save the galaxy! Nature is endangered, and only you can save it! Go from
                            world to world,
                            planting and shooting at enemies! </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="#!/SokobanJS">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/sokoban.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">SokobanJS</span>
                        <p>A game made with AngularJS, based on the classic Sokoban.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <a href="#!/MediepicalBattle">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer"
                            src="imgs/section/prog/mediepicalbattle.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Mediepical Battle </span>
                        <p>Be the only surviving player in this fun and engaging three-player game, using Arduino
                            controllers.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6">
            <a href="#!/MedievalBattle">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" style="cursor:pointer" src="imgs/section/prog/medievalweb.png"></img>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">Medieval Battle Web Game</span>
                        <p>Take monsters one after another with your partner in this multiplayer RPG turn-based game!
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>