<div class="container">
    <div class="containerFlex">

        <img src="https://i.imgur.com/R9La8EI.jpg" id="imgProfile" class="circle responsive-img"></img>

        <h5 class="itemFlex">Welcome!</h5>

        <h5 class="itemFlex">About me:</h5>

        <p class="itemFlex">Hi! I'm a passionate gamer that decided to study all I can about game development.
            I completed two undergraduate courses: Digital Games at Unisinos and Visual Design at UFRGS.
            My focus is on programming and everyday I feel I'm evolving. I seek to improve my skills by creating great
            games.
            I hope that you like my portfolio! It was developed using HTML, CSS, Javascript, AngularJS, MaterializeCSS
            and Firebase Hosting.
        </p>

        <p class="itemFlex">Olá! Eu sou um gamer apaixonado que decidiu estudar tudo que posso sobre desenvolvimento de
            jogos.
            Sou formado em Jogos Digitais pela Universidade do Vale do Rio dos Sinos (Unisinos) e em Design Visual pela
            Universidade Federal do Rio Grande do Sul (UFRGS).
            Meu foco é na programação e todo dia sinto que estou evoluindo. Eu busco melhorar minhas habilidades criando
            grandes jogos.
            Espero que goste do meu portfolio! Ele foi desenvolvido usando HTML, CSS, Javascript, AngularJS,
            MaterializeCSS e é hospedado pelo Firebase Hosting.
        </p>
        <a href="#!/Games">
            <div
                style="background-color: #ecc50e; color: #835c42;padding: 20px;border: 2px solid #ecc50e; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>Check my games here!</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>
        <br>
    </div>
</div>