<div class = "container">
    <div class="containerFlex">         
            
        <h1>Infográfico Amigo Internacional</h1>
        
        <div class="itemFlex">                                                                  
            <img class="responsive-img" src="https://i.imgur.com/wHkrTrK.png"></img>
        </div>

        <p class="itemFlex">O programa Amigo Internacional da UFRGS procura integrar alunos estrangeiros com os alunos da universidade.
        Como não havia muita divulgação por parte da UFRGS, resolvi produzir um infográfico para o trabalho final da disciplina de Projeto Visual II.
        </p>

        <p class="itemFlex">Antes do infográfico, houve uma etapa de pesquisa com o cliente, no caso, a Secretaria de Relações Internacionais (RELINTER).
        Para a disciplina, foi exigido que os dados coletados fossem mostrados através de um cubo informativo, que poderia ter sua forma modificada desde que
        mantivesse uma estrutura de caixa. Esta pesquisa foi realizada junto de Bruna Souza e pode ser visualizada abaixo:
        </p>

        <div class="itemFlexContent">                                                                                  
            <iframe src="https://drive.google.com/file/d/0B2v5KskeQae2UUVnY1JaeDV0SkE/preview" width="640" height="480"></iframe>
        </div>

        <p class="itemFlex">Após a pesquisa, cada um devia fazer seu próprio infográfico para a entrega final da disciplina.
        Optei por um cartaz A3, para ser exibido em corredores e chamar a atenção através das cores e elementos.
        </p>
    
    </div>

</div>

</br>