<div class="container">
    <div class="containerFlex">

        <div class="gameHeaderImage">
            <img class="responsive-img" src="imgs/games/kiwi_kimi/KiwiKimiLogo.png">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">In a forest, lives a kiwi that dreams of having wings to fly like other birds. The other
                animals make fun of him, but a mysterious figure can change everything by giving him a magical amulet
                that can make his dream a reality. With renewed hope, the kiwi departs in a journey of self-discovery.
            </p>
            <p class="itemFlex">Programming, narrative writing, game design and 3D art by Bernardo Alvarez Braga.</p>
            <p class="itemFlex">2D Art by Bruna da Silva Souza.</p>
        </div>
        <!-- <br>
        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">Em uma floresta, vive um kiwi que sonha em ter asas para voar como os outros pássaros.
                Os outros animais zombam dele, mas uma figura misteriosa pode mudar tudo ao entregar um amuleto mágico
                que pode tornar seu sonho em realidade. Com esperanças renovadas, o kiwi parte em uma jornada de
                auto-conhecimento.</p>
            <p class="itemFlex">Programação, roteiro, game design e arte 3D por Bernardo Alvarez Braga.</p>
            <p class="itemFlex">Arte 2D por Bruna da Silva Souza.</p>
        </div> -->
        <br>
        <br>
        <br>
        <br>

        <a href="https://garland-chaos.itch.io/kiwi-kimi" target="_blank">
            <div
                style="background-color: #64b122; color: white;padding: 20px;border: 2px solid #64b122; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                Download now on Itch.io
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <br>
        <div carousel class="carousel-landscape">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/kiwi_kimi/KiwiKimi1.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/kiwi_kimi/KiwiKimi2.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/kiwi_kimi/KiwiKimi3.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/kiwi_kimi/KiwiKimi4.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/kiwi_kimi/KiwiKimi5.png">
        </div>

        <br>
        <br>
        <br>

        <!-- <div>
            <img class="responsive-img" src="imgs/KiwiKimi1.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/KiwiKimi2.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/KiwiKimi3.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/KiwiKimi4.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/KiwiKimi5.png">
        </div> -->
    </div>
</div>

</br>