<div class="container">
    <div class="containerFlex"> 
             
        <div>
            <img class="responsive-img" src="imgs/section/prog/mbds.png">
        </div>    

        <p class="itemFlex">
            A vibrant game about captivating the whole party with your wild dance moves! Show off your skill and keep the dance vibe alive to achieve the highest score!<br>
            This game was developed at Global Game Jam 2018.
        </p>   
        
        <p class="itemFlex">
            Programming by Bernardo Alvarez Braga, Leonardo Tagliaro e João Batista Manique Henz.<br>
            3D models by Alexandre S. da Silva Jr.<br>
            2D art by Giovanni Ramos Tagliaro.<br>
            Sound design by Jéssica Lorencetti.
        </p>   
        
        <p class="itemFlex"><a href="https://quemnaojoga.itch.io/mind-blowing-dance-stream" target="_blank">Visit the page on Itch.io</a></p>
        <p class="itemFlex"><a href="https://globalgamejam.org/2018/games/mind-blowing-dance-stream" target="_blank">Visit the page on Global Game Jam website</a></p>  

        <div class="itemFlexContent">
            <iframe  width="640" height="360" src="https://www.youtube.com/embed/DyCjAAPVs4U" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="itemFlex">
            <img class="responsive-img" src="imgs/mbds1.png">
        </div>    

    </div>
</div>

</br>


