<div class="container">
    <div class="containerFlex">

        <h1>Medieval Battle</h1>

        <div class="itemFlexContent">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/Mg9XCwWWkFw" frameborder="0"
                gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

        <p class="itemFlex">Medieval Battle is a multiplayer turn-based rpg where the players must defeat hordes of
            enemies.<br>
            It's possible to chose between the classes mage and warrior, which one with unique skills.<br>
            Technologies used in this game: HTML, CSS, Javascript, MaterializeCSS, AngularJS, Phaser, Node.js and
            Socket.io.<br>
            Programming by Bernardo Alvarez Braga, Gabriel Fazenda and Matheus Nunes.
        </p>

        <!-- <p class="itemFlex">Medieval Battle é um rpg de turnos multiplayer onde os jogadores devem derrotar hordas de inimigos.<br>
        É possível escolher entre as classes mago e guerreiro, cada uma com habilidades únicas.<br>
        Tecnologias usadas neste jogo: HTML, CSS, Javascript, MaterializeCSS, AngularJS, Phaser, Node.js e Socket.io.<br>
        Programming by Bernardo Alvarez Braga, Gabriel Fazenda e Matheus Nunes.
        </p> -->

        <a href="https://github.com/gfazenda/MultiplatformPRJ" target="_blank">
            <div
                style="background-color: #64b122; color: white;padding: 20px;border: 2px solid #64b122; border-radius: 20px; margin-top: 20px; margin-bottom: 20px">
                View code on Github
            </div>
        </a>
    </div>
</div>

</br>