<div class="container">
    <div class="containerFlex">

        <h1>Mediepical Battle</h1>

        <div class="itemFlexContent">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/DEqpjowr8iM" frameborder="0"
                gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

        <p class="itemFlex">Mediepical Battle is a game made with the Arduino technology for a better experience in the
            imersion.<br>
            The controllers consist of a rod, a bow and a shield, which one the three players must use for attacking
            each other or defend, until only one remains in the battlefield.
            The knight is the only that must defend until time ends, while the others win by eliminating with magic and
            arrows.<br>
            Game developed by Bernardo Alvarez Braga, Lucas Nunes and Matheus Nunes. <br>
            Technologies used in this game: Unity, Arduino Uno.
        </p>

        <!-- <p class="itemFlex">Mediepical Battle é um jogo feito com a tecnologia Arduino para uma maior experiência na imersão.<br>
            Os controles consistem de um cajado, um arco e um escudo, cada qual os três jogadores deverão usar para atacar um ao outro ou defender-se, 
            até que só reste um no campo de batalha. O cavaleiro é o único que deve se defender até o tempo acabar, enquanto que os outros 
            jogadores ganham eliminando com magias e flechas.<br>
            Jogo desenvolvido por Bernardo Alvarez Braga, Lucas Nunes e Matheus Nunes.<br>
            Tecnologias usadas neste jogo: Unity, Arduino Uno.
        </p> -->

        <div class="itemFlexContent">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/yRGT9xQx5Ag" frameborder="0"
                gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

    </div>
</div>

</br>