<div class="container">
    <div class="containerFlex">

        <div style="display: flex; justify-content: center; width: 40%; margin-top: 1rem; margin-bottom: 1rem">
            <img class="responsive-img" src="imgs/RaytracerVariations.png">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">Raytracer with filters created in C++ with SFML, GLM and libnoise libraries.</p>
            <p class="itemFlex">Filters: HDR, sobel, crayon and cell shading.</p>
            <p class="itemFlex">Programmed by Bernardo Alvarez Braga with the help of the following libraries:</p>
            <p class="itemFlex">SFML &nbsp;<a href="https://www.sfml-dev.org/" target="_blank"
                    style="color: #ecc50e;">Visit the website</a></p>
            <p class="itemFlex">GLM &nbsp;<a href="https://github.com/g-truc/glm" target="_blank"
                    style="color: #ecc50e;">Download on Github</a></p>
            <p class="itemFlex">libnoise &nbsp;<a href="https://libnoise.sourceforge.net/docs/index.html"
                    target="_blank" style="color: #ecc50e;">Visit the website</a></p>
        </div>
        <br>
        <a href="https://github.com/GarlandChaos/Raytracer-CPlusPlus" target="_blank">
            <div
                style="background-color: #ecc50e; color: #a47453;padding: 20px;border: 2px solid #ecc50e; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>Download now on Github</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <div class="itemFlexContent">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/lbyFLXl_dV0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <br>
        <div>
            <img class="responsive-img" src="imgs/Raytracing_saved0.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/Raytracing_saved2.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/Raytracing_saved3.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/Raytracing_saved4.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/Raytracing_saved5.png">
        </div>

    </div>
</div>

</br>