<div class="container">
    <div class="containerFlex">

        <div style="display: flex; justify-content: center; width: 50%; margin-top: 1rem; margin-bottom: 1rem">
            <img class="responsive-img" src="imgs/SnakeSnackEscape1.png">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">There is a snake and you are a snack that needs to escape!</p>
            <p class="itemFlex">Have fun in this arcade game that reinvent the classic Snake.</p>
            <p class="itemFlex">Programming: Bernardo Alvarez Braga, Eric Marinho and Vinícius Alves</p>
            <p class="itemFlex">UI design and 2D art: Bruna da Silva Souza</p>
            <p class="itemFlex">3D art: Vinícius Alves</p>
        </div>
        <br>
        <a href="https://ilidam.itch.io/snake-snack-escape" target="_blank">
            <div
                style="background-color: #2aa889; color: white;padding: 20px;border: 2px solid #2aa889; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>Download now on Itch.io</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <br>

        <div>
            <img class="responsive-img" src="imgs/SnakeSnackEscape2.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/SnakeSnackEscape3.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/SnakeSnackEscape4.png">
        </div>
    </div>
</div>

</br>