<div class="container">
    <div class="containerFlex"> 
                                                                     
        <div>
            <img class="responsive-img" src="imgs/st/logo.png">
        </div>

        <p class="itemFlex">
            A game developed by NAPEAD - UFRGS,
            to be used in elementary and high schools, raising awareness about carbohydrate feeding.<br>
            Programming by Bernardo Alvarez Braga.<br>
            Art and design by Francine Alexandra Moreira Aires.
        </p>

        <p class="itemFlex">
            Um jogo desenvolvido pelo NAPEAD (Núcleo de Apoio Pedagógico à Educação a Distância) - UFRGS,
            para ser usado em escolas de ensino fundamental e médio, conscientizando sobre a alimentação de carboidratos.<br>
            Programação por Bernardo Alvarez Braga.<br>
            Arte e design por Francine Alexandra Moreira Aires.
        </p>
        
        <br>      
        <a href="https://play.google.com/store/apps/details?id=com.NAPEAD.SugarTown" target="_blank">
            <img src="imgs/playstoreBtn.png">
        </a>
    
        <br>
        <div>
            <img class="responsive-img" src="imgs/st/st1.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/st/st2.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/st/st3.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/st/st4.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/st/st5.png">
        </div>

        <div>
            <img class="responsive-img" src="imgs/st/st6.png">
        </div>

    </div>
</div>

</br>