<div class="container">
    <div class="containerFlex">

        <div class="gameHeaderImage">
            <img class="responsive-img" src="imgs/games/sugar_town/logo.png">
        </div>

        <p class="itemFlex">
            A game developed by NAPEAD - UFRGS,
            to be used in elementary and high schools, raising awareness about carbohydrate feeding.<br>
            Programming by Bernardo Alvarez Braga.<br>
            Art and design by Francine Alexandra Moreira Aires.
        </p>

        <!-- <p class="itemFlex">
            Um jogo desenvolvido pelo NAPEAD (Núcleo de Apoio Pedagógico à Educação a Distância) - UFRGS,
            para ser usado em escolas de ensino fundamental e médio, conscientizando sobre a alimentação de carboidratos.<br>
            Programação por Bernardo Alvarez Braga.<br>
            Arte e design por Francine Alexandra Moreira Aires.
        </p> -->

        <br>
        <!-- <a href="https://play.google.com/store/apps/details?id=com.NAPEAD.SugarTown" target="_blank">
            <img src="imgs/playstoreBtn.png">
        </a> -->

        <a href="https://play.google.com/store/apps/details?id=com.NAPEAD.SugarTown" target="_blank">
            <div
                style="background-color: #ecc50e; color: #a47453;padding: 20px;border: 2px solid #ecc50e; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>Download now on Google Play</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <br>

        <div carousel id="carousel-landscape">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/sugar_town/st1.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/sugar_town/st2.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/sugar_town/st3.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/sugar_town/st4.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/sugar_town/st5.png">
            <img class="carousel-item carousel-item-landscape" src="imgs/games/sugar_town/st6.png">
        </div>
    </div>
</div>

</br>