<div class="container">
        <div class="containerFlex"> 
                                                                         
            <div class="itemFlex">
                <img class="responsive-img" src="imgs/section/prog/TwinDimensions_promoImage1.jpg">
            </div>
    
            <p class="itemFlex">A two-player shooter where life can be shared to help each other and both players must reach the end or no one wins. Collectibles are automatically sent to the other player and each has it's own enemies to deal with.</p>
                      
            <!-- <p class="itemFlex"><a target="_blank" href="https://drive.google.com/open?id=1PPceLGJrCrMvZk5N6ggT8xS0esJqaW5K">Download</a></p> -->
            
            <div class="itemFlexContent">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/KNvwUVLA1ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="itemFlex">
                <img class="responsive-img" src="imgs/section/prog/TwinDimensions_promoImage2.jpg">
            </div>

            <div class="itemFlex">
                <img class="responsive-img" src="imgs/section/prog/TwinDimensions_promoImage3.jpg">
            </div>


            <!-- <div class="itemFlexContent">
                <iframe  width="640" height="360" src="https://www.youtube.com/embed/DyCjAAPVs4U" frameborder="0" allowfullscreen></iframe>
            </div> -->
    
        </div>
    </div>
    
    </br>
    
    
    