<div class="container">
    <div class="containerFlex">

        <div style="display: flex; justify-content: center; width: 50%; margin-top: 1rem; margin-bottom: 1rem">
            <img class="responsive-img" src="https://i.imgur.com/NkNam7t.png">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <p class="itemFlex">A simple demo where you can throw balls to cause mayhem in an abandoned warehouse.</p>
            <p class="itemFlex" style="display: inline-block;">
                This was made as one of the projects from the Udemy course <a
                    href="https://www.udemy.com/share/101Weu3@DvrmCJo_qKi26nlbbZidlJkY1pMsT5XeGvDFjCvL_QhySfbnB2bRSGloAR5LWcX9/"
                    target="_blank">Unreal Engine 5 C++ Developer: Learn C++ & Make Video Games
                </a>.
            </p>
            <p class="itemFlex">Programming by Bernardo Alvarez Braga</p>
        </div>
        <br>
        <a href="https://github.com/GarlandChaos/Warehouse-Wreckage" target="_blank">
            <div
                style="background-color: #ecc50e; color: #a47453;padding: 20px;border: 2px solid #ecc50e; border-radius: 20px;">
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
                <b>View code on Github</b>
                <!-- <div style="width: 10px;height: 5px;background-color: #18191b"></div> -->
            </div>
        </a>

        <br>

        <div carousel id="carousel-landscape" style="opacity: 0;">
            <img class="carousel-item carousel-item-landscape" src="https://i.imgur.com/lSwbYMv.png">
            <img class="carousel-item carousel-item-landscape" src="https://i.imgur.com/rIxOiXX.png">
            <img class="carousel-item carousel-item-landscape" src="https://i.imgur.com/G9ArVFK.png">
            <img class="carousel-item carousel-item-landscape" src="https://i.imgur.com/NkNam7t.png">
        </div>
    </div>
</div>

</br>