<div class="container">
    <div class="containerFlex #546e7a blue-grey darken-1"> 
                                                                     
        <p class="itemFlex">Salve o verde, salve a galáxia! A natureza está em perigo e só você pode salvá-la! 
        Vá de planeta em planeta, plantando e atirando em inimigos!</p>

        <p class="itemFlex">*Jogo atualmente em desenvolvimento por Bernardo Alvarez Braga e Guilherme Schaidhauer Castro*</p>
                                             
        <p class="itemFlex">Modelos 3D, texturas, animações e UI por Bernardo Alvarez Braga.</p>
                                                                    
        <p class="itemFlex">Programação por Bernardo Alvarez Braga e Guilherme Schaidhauer Castro.</p>
         
        <p class="itemFlex">Save the green, save the galaxy! Nature is endangered, and only you can save it! 
        Go from world to world, planting and shooting at enemies!</p>

        <p class="itemFlex">*Game under development by Bernardo Alvarez Braga and Guilherme Schaidhauer Castro*</p>

        <p class="itemFlex">3D models, textures, animations and UI by Bernardo Alvarez Braga.</p>

        <p class="itemFlex">Programming by Bernardo Alvarez Braga and Guilherme Schaidhauer Castro.</p>
        
        <p class="itemFlex"><a href= "http://www.indiedb.com/games/econquest" target="_blank">Visite a página no Indiedb</a></p>
        <a href="http://www.indiedb.com/games/econquest" title="View Econquest on Indie DB" target="_blank"><img src="http://button.indiedb.com/popularity/medium/games/52621.png" alt="Econquest" /></a>        

        <p class="itemFlex">Vídeos (não representam o atual estado do jogo, como pode ser visto nas imagens posteriores):</p>
        <div class="itemFlex">
            <iframe  width="640" height="360" src="https://www.youtube.com/embed/nH5i8YmvSE4" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="itemFlex">                
            <iframe width="640" height="360" src="https://www.youtube.com/embed/LJvzhcCq1TU" frameborder="0" allowfullscreen></iframe>
        </div>

        <p class="itemFlex">Imagens da UI atual:</p>
        
        <div class="itemFlex">
            <img class="responsive-img" src="images/econquestImages/econquestUI1.jpg">
        </div>
        <div class="itemFlex">                
            <img class="responsive-img" src="images/econquestImages/econquestUI2.jpg">
        </div>
        <div class="itemFlex">                
            <img class="responsive-img" src="images/econquestImages/econquestUI3.jpg">
        </div>
        <div class="itemFlex">                
            <img class="responsive-img" src="images/econquestImages/econquestUI4.jpg">
        </div>
    </div>
</div>

</br>


