<div class="container">
    <div class="containerFlex #546e7a blue-grey darken-1">         
                
        <p class="itemFlex">"Como Sobreviver a uma Invasão Alienígena é um material instrucional em um formato 
        de panfleto que acompanharia um game fictício sobre aliens dos anos 50, inspirado no clássico "Destroy All Humans!". 
        A ideia é divertir e dar uma ideia do teor do game antes que o usuário comece a jogar.</p>  
        
        <div class="itemFlex">                                                  
            <img class="responsive-img" src="images/cardsImages/guide_aliens.png">
        </div>

        <p class="itemFlex">O processo de desenvolvimento deste trabalho pode ser visto abaixo:</p>
        
        <div class="itemFlex">                                                      
            <iframe src="https://drive.google.com/file/d/1KR9S2Pu3q1Iu-XaDagth-ZGPJQS5EnOz/preview" width="900" height="500"></iframe>        
        </div>
    </div>
</div>

</br>