<div class="container">
    <div class="containerFlex #546e7a blue-grey darken-1">         
                
        <p class="itemFlex">Medieval Battle é um rpg de turnos multiplayer onde os jogadores devem derrotar hordas de inimigos.
        É possível escolher entre as classes mago e guerreiro, cada uma com habilidades únicas.
        Jogo atualmente em desenvolvimento por Bernardo Alvarez Braga, Gabriel Fazenda e Matheus Nunes.
        </p>

        <p class="itemFlex">Tecnologias usadas neste jogo: HTML, CSS, Javascript, MaterializeCSS, AngularJS, Phaser, Node.js e Socket.io.</p>

        <p class="itemFlex">Medieval Battle is a multiplayer turn-based rpg where the players must defeat hordes of enemies.
        It's possible to chose between the classes mage and warrior, which one with unique skills.
        Game currently in development by Bernardo Alvarez Braga, Gabriel Fazenda e Matheus Nunes.
        </p>

        <p class="itemFlex">Technologies used in this game: HTML, CSS, Javascript, MaterializeCSS, AngularJS, Phaser, Node.js and Socket.io.</p>
        
        <p class="itemFlex"><a href="https://github.com/gfazenda/MultiplatformPRJ">Ver código</a></p>
        
        <p class="itemFlex"> Uma versão inicial do jogo pode ser vista no vídeo: </p>
        
        <div class="itemFlex">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/wQhZ6asCb9I" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

</br>