<div class = "container">

    <!-- Vídeo Creche da UFRGS -->
    <div class="row">
        <div class="col s12 m6 l6">
            <div  class="containerFlex #546e7a blue-grey darken-1">
                <iframe width="640" height="360"src="https://www.youtube.com/embed/Z5LtSqFx6eE" frameborder="0" allowfullscreen></iframe>
                <p class="itemFlex">Vídeo demonstrando o potencial da identidade visual Creche da UFRGS</p>
                <p class="itemFlex">Video demonstrating the potential of the visual identity "Creche da UFRGS".</p> 
            </div>                               
        </div>

    <!-- Vídeo Vinheta Poesia Grega -->
        <div class="col s12 m6 l6">
            <div  class="containerFlex #546e7a blue-grey darken-1">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/PhBnUFz2t6E" frameborder="0" allowfullscreen></iframe>
                <p class="itemFlex">Vinheta para o curso Poesia Grega, da UFRGS.</p>
                <p class="itemFlex">Vignette for the course "Poesia Grega" from UFRGS.</p> 
            </div>                               
        </div>
    </div>

    <!-- Vídeo Vinheta Curso Cinética -->
    <div class="row">
        <div class="col s12 m6">
            <div  class="containerFlex #546e7a blue-grey darken-1">
                <iframe width="640" height="315" src="https://www.youtube.com/embed/Vxu2zRh6DO0" frameborder="0" allowfullscreen></iframe>
                <p class="itemFlex">Vinheta para o curso Cinética, da UFRGS.</p>
                <p class="itemFlex">Vignette for the course "Cinética" from UFRGS.</p> 
            </div>                               
        </div>
            
    <!-- Vídeo Tipografia Cinética -->
        <div class="col s12 m6">
            <div  class="containerFlex #546e7a blue-grey darken-1">
                <video class="responsive-video" controls>
                    <source src="videos/TipografiaCinetica.mp4" type="video/mp4">
                </video>                    
                <p class="itemFlex">Trabalho final de uma disciplina. O objetivo era usar tanto o Adobe Premiere quanto o Adobe After Efects para compor uma tipografia cinética.</p>
                <p class="itemFlex">Final work from a discipline. The objective was to use both Adobe Premiere and Adobe After Efects to compose a kinetic typography.</p> 
            </div>                               
        </div>
    </div>

    <!-- Vídeo Vinheta Saúde Indígena -->
    <div class="row">
        <div class="col s12 m6">
            <div  class="containerFlex #546e7a blue-grey darken-1">
                <iframe width="640" height="315" src="https://www.youtube.com/embed/yV8euyWv3bo" frameborder="0" allowfullscreen></iframe>
                <p class="itemFlex">Vinheta para o curso Saúde Indígena, da UFRGS.</p>
                <p class="itemFlex">Vignette for the course "Saúde Indígena" from UFRGS.</p> 
            </div>                               
        </div>
            
    <!-- Vídeo Aula Saúde Indígena -->
        <div class="col s12 m6">
            <div  class="containerFlex #546e7a blue-grey darken-1">
                <iframe width="640" height="315" src="https://www.youtube.com/embed/CwjG_CBqoTc" frameborder="0" allowfullscreen></iframe>        
                <p class="itemFlex">Um dos vídeos produzidos para uma aula do curso Saúde Indígena da UFRGS.</p>
                <p class="itemFlex">One of the videos produced for a class from the course "Saúde Indígena" from UFRGS.</p> 
            </div>                               
        </div>
    </div>

    <!-- Vídeo Gatos Gordos -->
    <div class="row">
        <div class="col s12 m6">
            <div  class="containerFlex #546e7a blue-grey darken-1">
                <iframe width="640" height="315" src="https://www.youtube.com/embed/Z2YfiIE5Rz0" frameborder="0" allowfullscreen></iframe>
                <p class="itemFlex">Trabalho final de uma disciplina que exigia a técnica de stop motion.</p>
                <p class="itemFlex">Final work from a discipline that demanded stop motion technique.</p> 
            </div>                               
        </div>        
    </div>
</div>
             
                    